**/.idea
*.iml
**/target
**/node_modules
**/*.log
**/*.log.*
**/.vagrant

/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

sudo
mvnw
mvnw.cmd
k8s-eshop-box.box

**/.mvn